<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Detalle de incapacidad, filtro I</title>

  <link rel="stylesheet" href="/incapacidades/css/sidebar/style_sidebar_adaptacion_pantalla.css">



  <%- include('./../partials/header/header.ejs') %>
  <%-include('./../partials/listas ID/modulos/incapacidades/lista_cie_10.ejs') %>
</head>



<body class="bg-slate-200 ">


  <!-- NAVBAR -->
  <header>
    <!-- NAVBAR SUPERIOR -->
    <nav class="navbar">
      <div class="navbar-left ">
        <div class="navbar-left" style="gap: 0.5rem;">
          <img src="/incapacidades/img/logo/LOGO_SPEED_NETWORKS_SAS-01.png" alt="Logo 1" style="height: 60px;" />
          <img src="/incapacidades/img/logo/CONEXION-DIGITAL-LOGO-VECTOR-png-blanco.png" alt="Logo 2" style="height: 90px;" />
        </div>
      </div>

      <div class="navbar-right">
        <span class="navbar-user">Hola, Alex Alejandro Oviedo Gonzalez</span>
        <i class='bx bx-user-circle text-2xl ml-4'></i>
        <i class='bx bx-exit ml-4 text-xl cursor-pointer'></i>
      </div>
    </nav>
  </header>

  <!-- SIDEBAR -->
  <aside>
    <!-- SIDEBAR (partial) -->
    <div id="sidebar_principal_incapacidades" class="main-content">
      <aside id="sidebar" class="sidebar">
        <%- include('./../partials/sidebars/modulos/incapacidades/sidebar_principal.ejs') %>
      </aside>
    </div>

  </aside>


  <div class="w-full">

    <div class="flex w-full ">

      <div id="container_seleccionar_empleado" class=" max-w-[calc(100vw-200px)]  min-h-screen gap-6 mt-32 mr-20 p-8 w-full  transition-all duration-500 container-collapsed bg-white rounded-xl overflow-hidden  px-16">



       <!-- DATOS EMPLEADOS -->
       <%-include('./../partials/datos_empleado/datos_empleado.ejs') %>



        <h1 class="mt-12 ml-2 font-semibold font-serif text-sm">LIQUIDACION INCAPACIDAD EMPLEADOR N.
          <div class=" w-full mx-auto text-center border-b border-gray-400 pb-1   mt-1 drop-shadow-md"></div>
        </h1>

        <div class="relative shadow-md max-w-full overflow-x-auto py-10 p-2  mt-4 pl-8 bg-gray-50 border border-lime-500  rounded-xl ">

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-2 text-start ">


            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">INICIO INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.fecha_inicio_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">FIN DE INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.fecha_final_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">DIAS INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2">  <%= datos_incapacidad_liquidad.cantidad_dias || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">PRÓRROGA:
              <small class="text-xs font-medium text-slate-700 ml-2">
                <%= datos_incapacidad_liquidad.prorroga === 1 ? "Sí" : "No" %>
              </small>
            </label>
            
            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">CANTIDAD DE DÍAS A LIQUIDAR:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.dias_liquidacion_empleador || "Sin detalles"  %>  </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">PORCENTAJE A LIQUIDAR:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.porcentaje_liquidacion_empleador || "Sin detalles"  %>  </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">LIQUIDACION:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= new Intl.NumberFormat('es-CO', { style: 'currency', currency: 'COP' }).format(datos_incapacidad_liquidad.liquidacion_empleador) %>
              </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">ESTADO INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2">  <%= datos_incapacidad_liquidad.estado_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">INCAPACIDAD DESCARGADA:
              <small class="text-xs font-medium text-slate-700 ml-2">
                <%= datos_incapacidad_liquidad.downloaded === 1 ? "Sí" : "No" %>
              </small>
            </label>
            

          </div>

        </div>

        <h1 class="mt-12 ml-2 font-semibold font-serif text-sm">LIQUIDACION INCAPACIDAD EPS N.
          <div class=" w-full mx-auto text-center border-b border-gray-400 pb-1   mt-1 drop-shadow-md"></div>
        </h1>

        <div class="relative shadow-md max-w-full overflow-x-auto py-10 p-2  mt-4 pl-8 bg-gray-50 border border-lime-500  rounded-xl ">

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-2 text-start ">


            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">INICIO INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.fecha_inicio_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">FIN DE INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.fecha_final_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">DIAS INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.cantidad_dias || "Sin detalles"  %>  </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">PRORROGA:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.prorroga === 1 ? "Sí" : "No" %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">CANTIDAD DE DÍAS A LIQUIDAR:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.dias_liquidacion_eps || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">PORCENTAJE A LIQUIDAR:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.porcentaje_liquidacion_eps || "Sin detalles"  %> % </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">LIQUIDACION:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= new Intl.NumberFormat('es-CO', { style: 'currency', currency: 'COP' }).format(datos_incapacidad_liquidad.liquidacion_eps) %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">ESTADO INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.estado_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">INCAPACIDAD DESCARGADA:
              <small class="text-xs font-medium text-slate-700 ml-2">  <%= datos_incapacidad_liquidad.downloaded === 1 ? "Sí" : "No" %> </small>
            </label>

          </div>

        </div>

        <h1 class="mt-12 ml-2 font-semibold font-serif text-sm">LIQUIDACION INCAPACIDAD ARL N.
          <div class=" w-full mx-auto text-center border-b border-gray-400 pb-1   mt-1 drop-shadow-md"></div>
        </h1>

        <div class="relative shadow-md max-w-full overflow-x-auto py-10 p-2  mt-4 pl-8 bg-gray-50 border border-lime-500  rounded-xl ">

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-2 text-start ">


            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">INICIO INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.fecha_inicio_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">FIN DE INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.fecha_final_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">DIAS INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.cantidad_dias || "Sin detalles"  %>  </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">PRORROGA:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.prorroga === 1 ? "Sí" : "No" %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">CANTIDAD DE DÍAS A LIQUIDAR:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.dias_liquidacion_arl || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">PORCENTAJE A LIQUIDAR:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.porcentaje_liquidacion_arl || "Sin detalles"  %> % </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">LIQUIDACION:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= new Intl.NumberFormat('es-CO', { style: 'currency', currency: 'COP' }).format(datos_incapacidad_liquidad.liquidacion_arl) %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">ESTADO INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.estado_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">INCAPACIDAD DESCARGADA:
              <small class="text-xs font-medium text-slate-700 ml-2">  <%= datos_incapacidad_liquidad.downloaded === 1 ? "Sí" : "No" %> </small>
            </label>

          </div>
        </div>

        <h1 class="mt-12 ml-2 font-semibold font-serif text-sm">LIQUIDACION INCAPACIDAD FONDO DE PENSIONES N.
          <div class=" w-full mx-auto text-center border-b border-gray-400 pb-1   mt-1 drop-shadow-md"></div>
        </h1>

        <div class="relative shadow-md max-w-full overflow-x-auto py-10 p-2  mt-4 pl-8 bg-gray-50 border border-lime-500  rounded-xl ">

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-2 text-start ">


            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">INICIO INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.fecha_inicio_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">FIN DE INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.fecha_final_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">DIAS INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.cantidad_dias || "Sin detalles"  %>  </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">PRORROGA:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.prorroga === 1 ? "Sí" : "No" %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">CANTIDAD DE DÍAS A LIQUIDAR:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.dias_liquidacion_fondo_pensiones || "0"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">PORCENTAJE A LIQUIDAR:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.porcentaje_liquidacion_fondo_pensiones || "Sin detalles"  %> % </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">LIQUIDACION:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= new Intl.NumberFormat('es-CO', { style: 'currency', currency: 'COP' }).format(datos_incapacidad_liquidad.liquidacion_fondo_pensiones) %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">ESTADO INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.estado_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">INCAPACIDAD DESCARGADA:
              <small class="text-xs font-medium text-slate-700 ml-2">  <%= datos_incapacidad_liquidad.downloaded === 1 ? "Sí" : "No" %> </small>
            </label>

          </div>

        </div>

        <h1 class="mt-12 ml-2 font-semibold font-serif text-sm">LIQUIDACION INCAPACIDAD FONDO DE PENSIONES Y EPS N.
          <div class=" w-full mx-auto text-center border-b border-gray-400 pb-1   mt-1 drop-shadow-md"></div>
        </h1>

        <div class="relative shadow-md max-w-full overflow-x-auto py-10 p-2  mt-4 pl-8 bg-gray-50 border border-lime-500  rounded-xl ">

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-2 text-start ">


            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">INICIO INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.fecha_inicio_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">FIN DE INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.fecha_final_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">DIAS INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.cantidad_dias || "Sin detalles"  %>  </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">PRORROGA:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.prorroga === 1 ? "Sí" : "No" %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">CANTIDAD DE DÍAS A LIQUIDAR:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.dias_liquidacion_eps_fondo_pensiones || "0"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">PORCENTAJE A LIQUIDAR:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.porcentaje_liquidacion_eps_fondo_pensiones || "Sin detalles"  %> % </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">LIQUIDACION:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= new Intl.NumberFormat('es-CO', { style: 'currency', currency: 'COP' }).format(datos_incapacidad_liquidad.liquidacion_eps_fondo_pensiones) %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">ESTADO INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.estado_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">INCAPACIDAD DESCARGADA:
              <small class="text-xs font-medium text-slate-700 ml-2">  <%= datos_incapacidad_liquidad.downloaded === 1 ? "Sí" : "No" %> </small>
            </label>

          </div>

        </div>

        <h1 class="mt-12 ml-2 font-semibold font-serif text-sm">PRORROGA - INCAPACIDAD CONTINUA.
          <div class=" w-full mx-auto text-center border-b border-gray-400 pb-1   mt-1 drop-shadow-md"></div>
        </h1>

        <div class="relative shadow-md max-w-full overflow-x-auto py-10 p-2  mt-4 pl-8 bg-gray-50 border border-lime-500  rounded-xl ">

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-2 text-start ">


            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">NOMBRES:
              <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">NOMBRES:
              <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">NOMBRES:
              <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">NOMBRES:
              <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">NOMBRES:
              <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">NOMBRES:
              <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">NOMBRES:
              <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">NOMBRES:
              <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> </small>
            </label>


          </div>

        </div>

<!--         <h1 class="mt-12 ml-2 font-semibold font-serif text-sm">RESUMEN LIQUIDACION INCAPACIDAD:
          <div class=" w-full mx-auto text-center border-b border-gray-400 pb-1   mt-1 drop-shadow-md"></div>
        </h1>

        <div class="relative shadow-md max-w-full overflow-x-auto py-10 p-2  mt-4 pl-8 bg-gray-50 border border-lime-500  rounded-xl ">

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-2 text-start ">


            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">INICIO INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.fecha_inicio_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">FIN DE INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.fecha_final_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">DIAS INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.cantidad_dias || "Sin detalles"  %>  </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">PRORROGA:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.prorroga === 1 ? "Sí" : "No" %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">DÍAS A LIQUIDAR EMPLEADOR:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.dias_liquidacion_eps || "Sin detalles"  %> </small>
            </label>
            
            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">PORCENTAJE A LIQUIDAR EMPLEADOR:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.porcentaje_liquidacion_eps || "Sin detalles"  %> % </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">LIQUIDACION EMPLEADOR:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= new Intl.NumberFormat('es-CO', { style: 'currency', currency: 'COP' }).format(datos_incapacidad_liquidad.liquidacion_eps) %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">DÍAS A LIQUIDAR EPS:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.dias_liquidacion_eps || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">DÍAS A LIQUIDAR ARL:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.dias_liquidacion_eps || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">DÍAS A LIQUIDAR F. PENSION:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.dias_liquidacion_eps || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">DÍAS A LIQUIDAR F. PENSIONES / EPS:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.dias_liquidacion_eps || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">PORCENTAJE A LIQUIDAR:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.porcentaje_liquidacion_eps || "Sin detalles"  %> % </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">LIQUIDACION:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= new Intl.NumberFormat('es-CO', { style: 'currency', currency: 'COP' }).format(datos_incapacidad_liquidad.liquidacion_eps) %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">ESTADO INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.estado_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">INCAPACIDAD DESCARGADA:
              <small class="text-xs font-medium text-slate-700 ml-2">  <%= datos_incapacidad_liquidad.downloaded === 1 ? "Sí" : "No" %> </small>
            </label>


          </div>

        </div> -->

        <h1 class="mt-12 ml-2 font-semibold font-serif text-sm">OBSERVACIONES:
          <div class=" w-full mx-auto text-center border-b border-gray-400 pb-1   mt-1 drop-shadow-md"></div>
        </h1>

        <div class="relative shadow-md max-w-full overflow-x-auto py-10 p-2  mt-4 pl-8 bg-gray-50 border border-lime-500  rounded-xl ">

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-2 text-start ">


            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">CODIGO LIQUIDACION:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.id_incapacidades_liquidacion || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">CODIGO EMPLEADO:
              <small class="text-xs font-medium text-slate-700 ml-2"><%= datos_incapacidad_liquidad.id_empleado || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">REGISTRO DE INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"><%= datos_incapacidad_liquidad.fecha_registro || "Sin detalles"  %> </small>
              <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">TIPO DE INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.tipo_incapacidad || "Sin detalles"  %></small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">ORIGEN INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"><%= datos_incapacidad_liquidad.subtipo_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">INICIO DE INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.fecha_inicio_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">FINAL INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"><%= datos_incapacidad_liquidad.fecha_final_incapacidad || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">DIAS INCAPACIDAD:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.cantidad_dias || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">PRORROGA:
              <small class="text-xs font-medium text-slate-700 ml-2"> <%= datos_incapacidad_liquidad.prorroga === 1 ? "Sí" : "No" %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">CATEGORIA: 
              <small class="text-xs font-medium text-slate-700 ml-2"><%= datos_incapacidad_liquidad.codigo_categoria || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">DESCRIPCIÓN
              <small class="text-xs font-medium text-slate-700 ml-2"><%= datos_incapacidad_liquidad.descripcion_categoria || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">SUB-CATEGORIA
              <small class="text-xs font-medium text-slate-700 ml-2"><%= datos_incapacidad_liquidad.codigo_subcategoria || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">DESCRIPCIÓN
              <small class="text-xs font-medium text-slate-700 ml-2"><%= datos_incapacidad_liquidad.descripcion_subcategoria || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">DÍAS LABORADOS:
              <small class="text-xs font-medium text-slate-700 ml-2"><%= datos_incapacidad_liquidad.dias_laborados || "Sin detalles"  %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">INCAPACIDAD DESCARGADA: 
              <small class="text-xs font-medium text-slate-700 ml-2">  <%= datos_incapacidad_liquidad.downloaded === 1 ? "Sí" : "No" %> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">ESTADO DE INCAPACIDAD: 
              <small class="text-xs font-medium text-slate-700 ml-2"><%= datos_incapacidad_liquidad.estado_incapacidad || "Sin detalles"  %> </small>
            </label>

          </div>

          <div class="grid grid-cols-1">
            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">OBSERVACIONES: </label>
            
            
            <div class="mt-8">
              <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-xs text-left rtl:text-right text-gray-500">
                  <thead class="text-xs text-gray-100 bg-slate-800 py-0">
                    <tr>
                      <th scope="col" class="px-6 py-2 w-1/8 border border-white">REGISTRO</th>
                      <th scope="col" class="px-6 py-2 w-1/8 border border-white">ESTADO</th>
                      <th scope="col" class="px-6 py-2 w-4/6 border border-white">DESCRIPCIÓN</th>
                    </tr>
                  </thead>
                </table>
            
                <!-- Scroll vertical aquí -->
                <div class="max-h-60 overflow-y-auto">
                  <table class="w-full text-xs text-left text-gray-500">
                    <tbody>
                      <% Seguimiento.forEach(observacion => { %>
                        <tr class="odd:bg-slate-100 even:bg-gray-200 hover:bg-slate-300 border border-white">
                          <td class="px-4 py-2 text-xs font-medium text-slate-700 ml-2 w-1/8">
                            <%= observacion.fecha_registro %>
                          </td>
                          <td class="px-4 py-2 text-xs font-medium text-slate-700 ml-2 w-1/8">
                            <%= observacion.estado %>
                          </td>
                          <td class="px-4 py-2 text-xs font-medium text-slate-700 ml-2 w-4/6">
                            <%= observacion.observaciones %>
                          </td>
                        </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
            





          </div>

        </div>


        <h1 class="mt-12 ml-2 font-semibold font-serif text-sm">DOCUMENTOS CARGADOS:
          <div class=" w-full mx-auto text-center border-b border-gray-400 pb-1   mt-1 drop-shadow-md"></div>
        </h1>

        <div class="relative shadow-md max-w-full overflow-x-auto py-10 p-2  mt-4 pl-8 bg-gray-50 border border-lime-500  rounded-xl ">

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-2 text-start ">


            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">NOMBRES:
              <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">NOMBRES:
              <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">NOMBRES:
              <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">NOMBRES:
              <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">NOMBRES:
              <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">NOMBRES:
              <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">NOMBRES:
              <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> </small>
            </label>

            <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">NOMBRES:
              <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> </small>
            </label>


          </div>

        </div>

      </div>


    </div>

  </div>



  <!-- Script que maneja la sidebar y el contenedor -->
  <script src="/incapacidades/js/sidebar/sidebar_1.js"></script>

  <!-- Mostar formulario de ingreso de nueva incapacidad -->
  <script src="/incapacidades/js/detalle_empleado/mostrar_form_ingreso_nueva_incapacidad.js"></script>


  <!-- Mostar input file para cargar los archivos correspondientes -->
  <script src="/incapacidades/js/detalle_empleado/mostrar_files_nueva_incapacidad.js"></script>


  <!-- calcula la cantidad de días de incapacidad -->
  <script src="/incapacidades/js/detalle_empleado/calcular_cantidad_dias_incapacidad.js"></script>


  <!-- VERIFICAR QUE SEA PDF, CALCULAR QUE TENGA MAXIMO UN PESO DE 5MB -->
  <script src="/incapacidades/js/detalle_empleado/verificacion_pdf_peso.js"></script>


  <!-- API FETCH PARA CONSULTAR CIE 10 -->
  <script src="/incapacidades/js/detalle_empleado/api_fetch_cie_10.js"></script>


  <!-- API FETCH PARA CONSULTAR SI HAY DUPLICIDAD CON LA INCAPACIDAD -->
  <script src="/incapacidades/js/detalle_empleado/api_fetch_duplicidad_incapacidad.js"></script>




</body>

</html>



<!-- 
flex flex-col gap-6 mt-28 mr-20 p-8 w-full max-w-11/12 transition-all duration-500 bg-white rounded-xl filter shadow-[0px_4px_10px_rgba(100,116,139,0.5)] container-expanded

flex flex-col gap-6 mt-28 mr-20 p-8 w-full max-w-11/12 transition-all duration-500 bg-white rounded-xl filter shadow-[0px_4px_10px_rgba(100,116,139,0.5)] container-collapsed -->