<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User disability table</title>
  <link rel="stylesheet" href="/incapacidades/css/sidebar/style_sidebar_adaptacion_pantalla.css">
  <%- include('./../partials/header/header.ejs') %>
</head>

<body class="bg-slate-200">
  <!-- NAVBAR -->
  <header>
    <nav class="navbar">
      <div class="navbar-left" style="gap: 0.5rem;">
        <img src="/incapacidades/img/logo/LOGO_SPEED_NETWORKS_SAS-01.png" alt="Logo 1" style="height: 60px;" />
        <img src="/incapacidades/img/logo/CONEXION-DIGITAL-LOGO-VECTOR-png-blanco.png" alt="Logo 2" style="height: 90px;" />
      </div>
      <div class="navbar-right">
        <span class="navbar-user">Hola, Alex Alejandro Oviedo Gonzalez</span>
        <i class='bx bx-user-circle text-2xl ml-4'></i>
        <i class='bx bx-exit ml-4 text-xl cursor-pointer'></i>
      </div>
    </nav>
  </header>

  <!-- SIDEBAR -->
  <aside>
    <div class="main-content">
      <aside id="sidebar" class="sidebar">
        <%- include('./../partials/sidebars/modulos/incapacidades/sidebar_principal.ejs') %>
      </aside>
    </div>
  </aside>

  <div class="w-full">
    <div class="flex w-full">
      <div id="container_seleccionar_empleado" class="max-w-[calc(100vw-200px)]  min-h-screen gap-6 mt-32 mr-20 p-8 w-full  transition-all duration-500 container-collapsed bg-white rounded-xl overflow-hidden">


        
        <!-- Tabla con bordes redondeados -->
        <div class="relative shadow-md max-w-full overflow-x-auto p-4 rounded-sm bg-white border border-slate-300">
          <table class="table-auto w-max text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 rounded-xl overflow-hidden">
            <thead class="text-xs  uppercase  bg-gray-800 text-gray-200">
              <tr>
                <th scope="col" class="px-6 py-3 border border-white">ACCESO</th>
                <th scope="col" class="px-6 py-3 border border-white">CREADOR</th>
                <th scope="col" class="px-6 py-3 border border-white">FECHA DE REGISTRO</th>
                <th scope="col" class="px-6 py-3 border border-white">NOMBRES</th>
                <th scope="col" class="px-6 py-3 border border-white">APELLIDOS</th>
                <th scope="col" class="px-6 py-3 border border-white">DOCUMENTO</th>
                <th scope="col" class="px-6 py-3 border border-white">CONTACTO</th>
                <th scope="col" class="px-6 py-3 border border-white">SALARIO</th>
                <th scope="col" class="px-6 py-3 border border-white">VALOR DÍA</th>
                <th scope="col" class="px-6 py-3 border border-white">TIPO DE INCAPACIDAD</th>
                <th scope="col" class="px-6 py-3 border border-white">SUBTIPO DE INCAPACIDAD</th>
                <th scope="col" class="px-6 py-3 border border-white">FECHA INICIO INCAPACIDAD</th>
                <th scope="col" class="px-6 py-3 border border-white">FECHA FIN INCAPACIDAD</th>
                <th scope="col" class="px-6 py-3 border border-white">N. DÍAS</th>
                <th scope="col" class="px-6 py-3 border border-white">CODIGO CATEGORIA</th>
                <th scope="col" class="px-6 py-3 border border-white">DESCRIPCION CATEGORIA</th>
                <th scope="col" class="px-6 py-3 border border-white">CODIGO SUBCATEGORIA</th>
                <th scope="col" class="px-6 py-3 border border-white">DESCRIPCION SUBCATEGORIA</th>
                <th scope="col" class="px-6 py-3 border border-white">PRORROGA</th>
                <th scope="col" class="px-6 py-3 border border-white">CANT. DÍAS EMPLEADOR</th>
                <th scope="col" class="px-6 py-3 border border-white">VALOR</th>
                <th scope="col" class="px-6 py-3 border border-white">CANT. DÍAS EPS</th>
                <th scope="col" class="px-6 py-3 border border-white">VALOR</th>
                <th scope="col" class="px-6 py-3 border border-white">CANT. DÍAS ARL</th>
                <th scope="col" class="px-6 py-3 border border-white">VALOR</th>
                <th scope="col" class="px-6 py-3 border border-white">CANTI. DÍAS FONDO DE PENSIONES</th>
                <th scope="col" class="px-6 py-3 border border-white">VALOR</th>
                <th scope="col" class="px-6 py-3 border border-white">CANTI. DÍAS FONDO DE PENSIONES Y EPS</th>
                <th scope="col" class="px-6 py-3 border border-white">VALOR</th>
                <th scope="col" class="px-6 py-3 border border-white">ESTADO INCAPACIDAD</th>

              </tr>
            </thead>

<!-- 
      <button data-modal-target="extralarge-modal" data-modal-toggle="extralarge-modal" class="text-white bg-gray-900 hover:bg-gray-800 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-br-2xl text-sm px-20 py-2.5 text-center" type="button">
        Historial
      </button>            
-->


            <tbody>
              <% if (datosLiquidacion && datosLiquidacion.length > 0) { %>  
                <% datosLiquidacion.forEach(liq => { %>
                  <tr class="bg-gray-50 border-b border-gray-200 hover:bg-slate-200 py-0">
                    <td class="px-6 py-0 h-0 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-center">
                      <% if (liq.downloaded === 0) { %>
                        <a href="#" id="alert_downloaded_false" class="py-0" data-modal-target="legalization_disability" data-modal-toggle="legalization_disability">
                          <i class='bx bx-error text-[22px] text-amber-700 h-0 py-0'></i>
                        </a>
                      <% } else { %>
                        <a href="#" class="py-0">
                          <i class='bx bx-street-view text-[22px] text-amber-600 h-0 py-0'></i>
                        </a>
                        <a href="#" class="py-0">
                          <i class='bx bx-street-view text-[22px] text-amber-700 h-0 py-0'></i>
                        </a>
                        <a href="#" class="py-0">
                          <i class='bx bx-street-view text-[22px] text-amber-200 h-0 py-0'></i>
                        </a>
                      <% } %>
                    </td>
              
                    <% if (liq.downloaded === 0) { %>
                      <td colspan="28" class="text-start text-amber-700 italic border border-white py-2">
                        La incapacidad no se ha descargado, para descargar la incapacidad de clic en el icono
                      </td>
                    <% } else { %>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs"><%= liq.creador %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.fecha_registro_incapacidad %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs"><%= liq.nombres %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs"><%= liq.apellidos %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.documento %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs"><%= liq.contacto %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs"><%= liq.salario_empleado %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.valor_dia_empleado %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.tipo_incapacidad %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.subtipo_incapacidad %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.fecha_inicio_incapacidad %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.fecha_final_incapacidad %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.cantidad_dias %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.codigo_categoria %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs"><%= liq.descripcion_categoria %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.codigo_subcategoria %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs"><%= liq.descripcion_subcategoria %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.prorroga %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.dias_empleador %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.valor_empleador %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.dias_eps %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.valor_eps %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.dias_arl %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.valor_arl %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.dias_fp %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.valor_fp %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.dias_fp_eps %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.valor_fp_eps %></td>
                      <td class="px-6 py-1.5 font-medium text-gray-900 whitespace-nowrap border border-white hover:bg-slate-300 text-xs text-center"><%= liq.estado_incapacidad %></td>
                    <% } %>
                  </tr>
                <% }) %>
              <% } %>
              </tbody>
              

          </table>
        </div>


        



      </div>
    </div>
  </div>

  

  <!-- MODALS -->
    <%- include('./../partials/modals/modulos/incapacidades/confirmation_legalization_disability_settlement.ejs') %>
 



  <!-- Script que maneja la sidebar y el contenedor -->
  <script src="/incapacidades/js/sidebar/sidebar_1.js"></script>
</body>

</html>
