<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Empleado</title>

    <link href="/css/output.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Flowbite -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>

<body class="bg-gradient-to-br from-slate-900 via-slate-800 to-slate-700">


    <header>
        <nav class="bg-gray-900 border-gray-700 dark:bg-black/90 dark:border-gray-700">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-0">
                <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="/global/img/logo/CONEXION-DIGITAL-LOGO-VECTOR-png-blanco.png" class="h-22 p-0 m-0"
                        alt="conexion digital Logo" />
                    <!--                     <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
 -->
                </a>

                <button data-collapse-toggle="navbar-dropdown" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-dropdown" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>

                <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
                    <ul
                        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-black/90 md:dark:bg-black/90 dark:border-gray-900">
                        <li>
                            <a href="/Inicio"
                                class="block py-2 px-3 text-white bg-gray-200 rounded-sm md:bg-transparent md:text-text-700 md:p-0 md:dark:text-gray-400 dark:bg-gray-600 md:dark:bg-transparent hover:text-white"
                                aria-current="page">Inicio</a>
                        </li>


                        <li>
                            <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
                                class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-white md:p-0 md:w-auto dark:text-gray-400 md:dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent cursor-pointer hover:text-white">Modulos
                                <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 4 4 4-4" />
                                </svg>
                            </button>


                            <!-- Dropdown menu -->
                            <div id="dropdownNavbar"
                                class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-950 border-1 dark:border-gray-400 dark:divide-gray-600 cursor-pointer">
                                <ul class="py-2 text-sm text-gray-700 dark:text-gray-400"
                                    aria-labelledby="dropdownLargeButton">
                                    <li>
                                        <a href="#"
                                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Staff</a>
                                    </li>
                                    <li>
                                        <a href="#"
                                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Incapacidades</a>
                                    </li>
                                    <li>
                                        <a href="#"
                                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Aplicaciones</a>
                                    </li>
                                </ul>

                            </div>
                        </li>

                        <li>
                            <a href=""
                                class="block py-2 px-3 text-white bg-grau-200 rounded-sm md:bg-transparent md:text-text-700 md:p-0 md:dark:text-gray-400 dark:bg-gray-600 md:dark:bg-transparent hover:text-white"
                                aria-current="page">
                                <i onclick="logout()" class='bx bx-log-in-circle text-2xl text-white'></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>



    <div class="mt-20 ">

        <form id="form_registrar_nuevo_empleado" class="max-w-7xl mx-auto p-8 bg-slate-50 rounded-2xl shadow-lg">


            <h2 class="text-2xl font-extrabold text-gray-800 mb-10 text-center">Registro de Empleado</h2>


            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4  gap-x-6 gap-y-6">

                <!-- NOMBRES -->
                <div>
                    <div class="col-span-1">
                        <label for="nombres" class="block mb-1 font-medium text-lime-800 text-sm">Nombres</label>
                        <input type="text" id="nombre" name="nombre"
                            class="w-full px-4 py-2 border-b-2  border-lime-600  rounded-lg focus:outline-none focus:ring-1 focus:ring-lime-600 text-sm shadow-sm uppercase"
                            placeholder="Pepito perez" />
                    </div>
                </div>


                <!-- APELLIDOS -->
                <div>
                    <div class="col-span-1">
                        <label for="apellidos" class="block mb-1 font-medium text-lime-800 text-sm">Apellidos</label>
                        <input type="text" id="apellidos" name="apellidos"
                            class="w-full px-4 py-2 border-b-2  border-lime-600  rounded-lg focus:outline-none focus:ring-1 focus:ring-lime-600 text-sm shadow-sm uppercase"
                            placeholder="perez perez" />
                    </div>
                </div>


                <!-- Documento -->
                <div>
                    <div class="col-span-1">
                        <label for="documento" class="block mb-1 font-medium text-lime-800 text-sm">Documento</label>
                        <input type="number" id="documento" name="documento"
                            class="w-full px-4 py-2 border-b-2  border-lime-600  rounded-lg focus:outline-none focus:ring-1 focus:ring-lime-600 text-sm shadow-sm uppercase"
                            placeholder="Documento" />
                    </div>
                </div>


                <!-- FECHA DE CONTRATACION -->
                <div>
                    <div class="col-span-1">
                        <label for="fecha_contratacion" class="block mb-1 font-medium text-lime-800 text-sm">Fecha de
                            Contratacion</label>
                        <input type="date" id="fecha_contratacion" name="fecha_contratacion"
                            class="w-full px-4 py-2 border-b-2  border-lime-600  rounded-lg focus:outline-none focus:ring-1 focus:ring-lime-600 text-sm shadow-sm uppercase"
                            placeholder="26/05/2025" />
                    </div>
                </div>


                <!-- TIPO DE CONTRATO -->
                <div>
                    <div class="col-span-1">
                        <label for="tipo_contrato" class="block mb-1 font-medium text-lime-800 text-sm">Tipo de
                            Contrato</label>
                        <select id="tipo_contrato" name="tipo_contrato"
                            class="w-full px-4 py-2 border-b-2  border-lime-600  rounded-lg focus:outline-none focus:ring-1 focus:ring-lime-600 text-sm shadow-sm uppercase"
                            placeholder="tipo_contrato" />
                        <option value="">Selecciona un contrato</option>
                        <option value="FIJO">Termino Fijo</option>
                        <option value="INDEFINIDO">Indefinido</option>
                        </select>
                    </div>
                </div>



                    
                    <!-- SELECCIONE UN CARGO -->
                    <div>
                        <div class="col-span-1">
                            <label for="cargo" class="block mb-1 font-medium text-lime-800 text-sm">
                                Cargo
                            </label>
                            <input id="cargo" name="cargo"  placeholder="Cargo"  list="lista_cargo_staff"
                                class="w-full px-4 py-2 border-b-2  border-lime-600  rounded-lg focus:outline-none focus:ring-1 focus:ring-lime-600 text-sm shadow-sm uppercase" />
                        </div>
                    </div>



                <!-- ESTADO -->
                <div>
                    <div class="col-span-1">
                        <label for="estado" class="block mb-1 font-medium text-lime-800 text-sm">Estado</label>
                        <select id="estado" name="estado"
                            class="w-full px-4 py-2 border-b-2  border-lime-600  rounded-lg focus:outline-none focus:ring-1 focus:ring-lime-600 text-sm shadow-sm uppercase"
                            placeholder="estado" />
                        <option value="">Selecciona un estado</option>
                        <option value="ACTIVO">ACTIVO</option>
                        <option value="INACTIVO">INACTIVO</option>
                        </select>
                    </div>
                </div>


                <!-- SELECCIONE UN LIDER  -->
                <div>
                    <div class="col-span-1">
                        <label for="cargo" class="block mb-1 font-medium text-lime-800 text-sm">
                            Director
                        </label>
                        <input id="lider_directo" name="lider_directo"  placeholder="Director"  list="directores"
                            class="w-full px-4 py-2 border-b-2 border-lime-600 rounded-lg focus:outline-none focus:ring-1 focus:ring-lime-600 text-sm shadow-sm uppercase" />
                    </div>
                </div>


                <!-- SALARIO -->
                <div>
                    <div class="col-span-1">
                        <label for="salario" class="block mb-1 font-medium text-lime-800 text-sm">Salario</label>
                        <input type="number" id="salario" name="salario"
                            class="w-full px-4 py-2 border-b-2  border-lime-600  rounded-lg focus:outline-none focus:ring-1 focus:ring-lime-600 text-sm shadow-sm uppercase"
                            placeholder="$ 1.500.000" />
                    </div>
                </div>


                <!-- VALOR DÍA -->
                <div>
                    <div class="col-span-1">
                        <label for="valor_dia" class="block mb-1 font-medium text-lime-800 text-sm">Valor día</label>
                        <input type="number" id="valor_dia" name="valor_dia"
                            class="w-full px-4 py-2 border-b-2  border-lime-600  rounded-lg focus:outline-none focus:ring-1 focus:ring-lime-600 text-sm shadow-sm uppercase"
                            placeholder="$ 50.000" readonly />
                    </div>
                </div>


                <!-- CONTACTO -->
                <div>
                    <div class="col-span-1">
                        <label for="contacto" class="block mb-1 font-medium text-lime-800 text-sm">Contacto</label>
                        <input type="number" id="contacto" name="contacto"
                            class="w-full px-4 py-2 border-b-2  border-lime-600  rounded-lg focus:outline-none focus:ring-1 focus:ring-lime-600 text-sm shadow-sm uppercase"
                            placeholder="312 458 1579" />
                    </div>
                </div>


                <!-- EMAIL -->
                <div>
                    <div class="col-span-1">
                        <label for="email" class="block mb-1 font-medium text-lime-800 text-sm">Email</label>
                        <input type="email" id="email" name="email"
                            class="w-full px-4 py-2 border-b-2  border-lime-600  rounded-lg focus:outline-none focus:ring-1 focus:ring-lime-600 text-sm shadow-sm uppercase"
                            placeholder="pepito@gmail.com" />
                    </div>
                </div>


                <!-- SELECCIONE UN AREA  -->

                <div>
                    <div class="col-span-1">
                        <label for="area" class="block mb-1 font-medium text-lime-800 text-sm">Area</label>
                        <input type="text" id="area" name="area" list="areas"
                            class="w-full px-4 py-2 border-b-2  border-lime-600  rounded-lg focus:outline-none focus:ring-1 focus:ring-lime-600 text-sm shadow-sm uppercase"
                            placeholder="Area" />
                    </div>
                </div>



                <!-- SELECCIONE UNA EMPRESA  -->
                <div>
                    <div class="col-span-1">
                        <label for="empresa" class="block mb-1 font-medium text-lime-800 text-sm">Empresa</label>
                        <select id="empresa" name="empresa"
                            class="w-full px-4 py-2 border-b-2  border-lime-600  rounded-lg focus:outline-none focus:ring-1 focus:ring-lime-600 text-sm shadow-sm uppercase"
                            placeholder="empresa" />
                        <option value="">Selecciona una empresa</option>
                        <option value="Conexion Digital">Conexion Digital</option>
                        <option value="Speed Networks">Speed Networks</option>
                        </select>
                    </div>
                </div>



                <!-- NIT -->
                <div>
                    <div class="col-span-1">
                        <label for="nit" class="block mb-1 font-medium text-lime-800 text-sm">Nit Empresa</label>
                        <input type="number" id="nit" name="nit"
                            class="w-full px-4 py-2 border-b-2  border-lime-600  rounded-lg focus:outline-none focus:ring-1 focus:ring-lime-600 text-sm shadow-sm uppercase"
                            placeholder="900.254.225-8" readonly />
                    </div>
                </div>


                <!-- SELECCIONE UNA EPS  -->
                <div>
                    <div class="col-span-1">
                        <label for="list_eps" class="block mb-1 font-medium text-lime-800 text-sm">EPS</label>
                        <input type="text" id="eps" name="eps" list="list_eps"
                            class="w-full px-4 py-2 border-b-2  border-lime-600  rounded-lg focus:outline-none focus:ring-1 focus:ring-lime-600 text-sm shadow-sm uppercase"
                            placeholder="eps" />
                    </div>
                </div>

                <!-- SELECCIONE UNA ARL  -->

                <div>
                    <div class="col-span-1">
                        <label for="arl" class="block mb-1 font-medium text-lime-800 text-sm">ARL</label>
                        <input type="text" id="arl" name="arl" list="list_arl"
                            class="w-full px-4 py-2 border-b-2  border-lime-600  rounded-lg focus:outline-none focus:ring-1 focus:ring-lime-600 text-sm shadow-sm uppercase"
                            placeholder="arl" />
                    </div>
                </div>                


                <!-- SELECCIONE UN FONDO DE PENSIONES  -->

                <div>
                    <div class="col-span-1">
                        <label for="fondo_pensiones" class="block mb-1 font-medium text-lime-800 text-sm">FONDO DE PENSIONES</label>
                        <input type="text" id="fondo_pensiones" name="fondo_pensiones" list="list_fondo_pensiones"
                            class="w-full px-4 py-2 border-b-2  border-lime-600  rounded-lg focus:outline-none focus:ring-1 focus:ring-lime-600 text-sm shadow-sm uppercase"
                            placeholder="fondo_pensiones" />
                    </div>
                </div>                 


                <!-- SELECCIONE UNA CAJA DE COMPENSACION  -->


                <div>
                    <div class="col-span-1">
                        <label for="caja_compensacion" class="block mb-1 font-medium text-lime-800 text-sm">CAJA DE COMPENSACION</label>
                        <input type="text" id="caja_compensacion" name="caja_compensacion" list="list_caja_compensacion"
                            class="w-full px-4 py-2 border-b-2  border-lime-600  rounded-lg focus:outline-none focus:ring-1 focus:ring-lime-600 text-sm shadow-sm uppercase"
                            placeholder="caja_compensacion" />
                    </div>
                </div>    

            </div>

            <div class="flex items-center justify-center mx-auto mt-10">
                <button type="submit" id="button_registro"
                    class="block bg-lime-600 p-2 border border-lime-500 rounded-lg text-white   focus:outline-none focus:ring-1 focus:ring-lime-500  hover:scale-105 hover:font-bold hover:shadow-xl cursor-pointer w-2xs">
                    GUARDAR
                </button>
            </div>


        </form>
    </div>

    <%- include('../partials/lista/staff/cargo.ejs') %>
    <%- include('../partials/lista/staff/director.ejs') %>
    <%- include('../partials/lista/staff/area.ejs') %>
    <%- include('../partials/lista/staff/eps.ejs') %>
    <%- include('../partials/lista/staff/arl.ejs') %>
    <%- include('../partials/lista/staff/caja_compensacion.ejs') %>
    <%- include('../partials/lista/staff/fondo_pensiones.ejs') %>




    <!-- ROMPER SESSION -->
    <script src="/global/js/login/api_logout.js"></script>

    <!-- API PARA REGISTRAR NUEVO EMPLEADO -->
    <script src="/staff/js/nuevo-empleado/api-nuevo-empleado.js"></script>

    <!-- CALCULAR VALOR DÍA -->
    <script src="/staff/js/nuevo-empleado/calcular_valor_dia.js"></script>
    
    <!-- TRAER EL NIT CORRESPONDIENTE -->
    <script src="/staff/js/nuevo-empleado/nit_empresa.js"></script>


</body>

</html>