

          <!-- SELECCIÒN DEL TIPO DE INCAPACIDAD -->
          <div class="w-full text-center border-b border-lime-600 mt-4 mb-6 py-1 drop-shadow-md">
            <h2 class="text-sm font-bold">DATOS DEL EMPLEADO</h2>
          </div>
    
    
          <!-- DATOS DEL EMPLEADO -->
          <div id="" class="relative w-full container mx-auto my-2 mb-6 p-4 border border-gray-100 rounded-xl bg-gray-50">
    
            <div class="w-full mx-auto">
              <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-2 text-start">

    
                <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">ID EMPLEADO:
                  <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> <%= datos_empleado.id_empleado || "Sin detalles"  %> </small>
                </label>
    
                <label for="arl-date" class="block mb-1.5 text-xs font-bold font-serif text-slate-950">NOMBRES:
                  <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> <%= datos_empleado.nombres || "Sin detalles"  %> </small>
                </label>
    
                <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">APELLIDOS:
                  <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> <%= datos_empleado.apellidos || "Sin detalles"  %> </small>
                </label>
    
                <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">DOCUMENTO:
                  <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> <%= datos_empleado.documento || "Sin detalles"  %> </small>
                </label>
    
                <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">CONTACTO:
                  <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> <%= datos_empleado.contacto || "Sin detalles"  %> </small>
                </label>
    
                <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">AREA:
                  <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> <%= datos_empleado.area || "Sin detalles"  %> </small>
                </label>
    
                <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">FECHA DE CONTRATACION:
                  <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> <%= datos_empleado.fecha_contratacion || "Sin detalles"  %> </small>
                </label>
    
                <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">TIPO DE CONTRATO:
                  <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> <%= datos_empleado.tipo_contrato || "Sin detalles"  %> </small>
                </label>
    
                <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">CARGO:
                  <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> <%= datos_empleado.cargo || "Sin detalles"  %> </small>
                </label>
    
                <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">ESTADO:
                  <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> <%= datos_empleado.estado || "Sin detalles"  %> </small>
                </label>
    
                <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">LIDER:
                  <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> <%= datos_empleado.lider || "Sin detalles"  %> </small>
                </label>
    
                <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">SALARIO:
                  <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> <%= datos_empleado.salario || "Sin detalles"  %> </small>
                </label>
    
                <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">VALOR DIA:
                  <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> <%= datos_empleado.valor_dia || "Sin detalles"  %> </small>
                </label>
    
                <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">EMPRESA:
                  <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> <%= datos_empleado.empresa_nombre || "Sin detalles"  %> </small>
                </label>
    
                <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">NIT:
                  <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> <%= datos_empleado.empresa_nit || "Sin detalles"  %> </small>
                </label>
    
                <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">EPS:
                  <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> <%= datos_empleado.eps || "Sin detalles"  %> </small>
                </label>
    
                <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">ARL:
                  <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2"> <%= datos_empleado.arl || "Sin detalles"  %> </small>
                </label>
    
                <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">FONDO DE PENSION:
                  <small class="text-sm font-style: italic font-serif  font-normal text-slate-600 ml-2"> <%= datos_empleado.fondo_pension || "Sin detalles"  %> </small>
                </label>
    
                <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">CAJA DE COMPENSACION:
                  <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2 "> <%= datos_empleado.caja_compensacion || "Sin detalles"  %> </small>
                </label>
    
    
              </div>
            </div>
    
          </div>

