<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seleccionar Empleado</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>



    <!-- <link rel="stylesheet" href="/css/output.css"> -->
</head>

<header>
    <%- include('../../../partials/header/header.ejs') %>
</header>

<body class="bg-slate-200 mx-1">
    <div>
        <div
            class="container filter shadow-[0px_4px_10px_rgba(100,116,139,0.5)]  mx-auto px-4 my-10  bg-white p-4 rounded-2xl flex flex-col items-center justify-center w-full max-w-10/12">

            <div class="flex justify-start">
                <h1 class="text-slate-800 font-[Markazi] font-bold  mb-1 text-start self-start block">SELECCIONE
                    EMPLEADO</h1>
            </div>


            <form action="/incapacidad/seleccionar/empleado" method="POST"
                class="p-4 w-full max-w-3xl mx-auto flex flex-col gap-4">

                <select id="filtro" name="filtro"
                    class="bg-gray-50 border drop-shadow-sm  border-gray-300 text-gray-900 text-sm rounded-lg outline-none focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5">
                    <option selected>Seleccione una opción</option>
                    <option value="cedula">CEDULA</option>
                    <option value="contacto">CONTACTO</option>
                    <option value="nombres">NOMBRES</option>
                    <option value="apellidos">APELLIDOS</option>
                </select>

                <input id="busqueda" name="busqueda" type="text"
                    class="outline-none w-full p-1.5  hidden drop-shadow-sm bg-gray-50 uppercase border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500"
                    placeholder="Ingrese valor" required />

                <div class="w-full flex justify-center mt-2">
                    <button type="submit"
                        class="text-white bg-slate-700 w-2xs hover:bg-cyan-100 focus:ring-1 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 me-1 mb-1 dark:cyan-700 dark:hover:bg-cyan-900 focus:outline-none dark:focus:ring-cyan-800">Buscar</button>

                </div>
            </form>


        </div>
    </div>

    <% if (Empleados.length > 0) { %>

    <div class="  mx-auto px-4 my-10  p-4 rounded-2xl flex flex-col items-center justify-center w-full max-w-10/12">

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full ">

            <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                <thead class="text-xs text-white uppercase bg-slate-700 ">
                    <tr>
                        <th scope="col" class="px-2 py-2.5 border-r border-white text-center">
                            Acceso
                        </th>
                        <th scope="col" class="px-4 py-2.5 border-r border-white">
                            Nombres
                        </th>
                        <th scope="col" class="px-4 py-2.5 border-r border-white">
                            Apellidos
                        </th>
                        <th scope="col" class="px-4 py-2.5 border-r border-white">
                            Documento
                        </th>
                        <th scope="col" class="px-4 py-2.5 border-r border-white">
                            Contacto
                        </th>
                        <th scope="col" class="px-4 py-2.5 border-r border-white">
                            Area
                        </th>
                        <th scope="col" class="px-4 py-2.5 border-r border-white">
                            Cargo
                        </th>
                        <th scope="col" class="px-4 py-2.5 border-r border-white">
                            Estado
                        </th>
                        <th scope="col" class="px-4 py-2.5 border-r border-white">
                            Jefe Inmediato
                        </th>
                        <th scope="col" class="px-4 py-2.5 border-r border-white">
                            Eps
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <% if (Empleados.length> 0) { %>
                        <% for (let i=0; i < Empleados.length; i++) { %>

                            <tr class="bg-white border-b  border-gray-200 hover:bg-gray-50 ">
                                <th scope="row" class="px-2  text-center  ">
                                    <a href="<%= Empleados[i].id_empleado %>">
                                        <i class='bx bxs-edit text-xl p-0 mr-2 text-cyan-800'></i>
                                    </a>
                                </th>
                                <td class="px-4 py-1.5 xs:text-xs sm:text-sm lg:text-sm text-gray-800 antialiased ">
                                    <%= Empleados[i].nombres %>
                                </td>
                                <td class="px-4 py-1.5 xs:text-xs sm:text-sm lg:text-sm text-gray-800 antialiased">
                                    <%= Empleados[i].apellidos  %>
                                </td>
                                <td class="px-4 py-1.5 xs:text-xs sm:text-sm lg:text-sm text-gray-800 antialiased">
                                    <%= Empleados[i].documento  %>
                                </td>
                                <td class="px-4 py-1.5 xs:text-xs sm:text-sm lg:text-sm text-gray-800 antialiased">
                                    <%= Empleados[i].contacto  %>
                                </td>
                                <td class="px-4 py-1.5 xs:text-xs sm:text-sm lg:text-sm text-gray-800 antialiased">
                                    <%= Empleados[i].area  %>
                                </td>
                                <td class="px-4 py-1.5 xs:text-xs sm:text-sm lg:text-sm text-gray-800 antialiased">
                                    <%= Empleados[i].cargo  %>
                                </td>
                                <td class="px-4 py-1.5 xs:text-xs sm:text-sm lg:text-sm text-gray-800 antialiased">
                                    <%= Empleados[i].estado  %>
                                </td>
                                <td class="px-4 py-1.5 xs:text-xs sm:text-sm lg:text-sm text-gray-800 antialiased">
                                    <%= Empleados[i].lider  %>
                                </td>
                                <td class="px-4 py-1.5 xs:text-xs sm:text-sm lg:text-sm text-gray-800 antialiased">
                                    <%= Empleados[i].eps  %>
                                </td>


                            </tr>
                        <% } %>
                    <% } else { %>
                                <td colspan="10" class="px-4 py-1.5 xs:text-xs sm:text-sm lg:text-sm text-gray-800 antialiased text-center">
                                    No se encontraron empleados.
                                </td>
                            <% } %>

                </tbody>
            </table>
        </div>


    </div>

    <% } else { %>

        <div class="mx-auto px-4 my-10 p-4 rounded-2xl flex flex-col items-center justify-center w-full max-w-10/12 bg-red-100 border border-red-400 text-red-700">
            <p class="text-lg font-semibold">No se encontraron empleados.</p>
        </div>
    
    <% } %>




    <script src="./../../../../js/modulos/incapacidades/seleccionar-empleado/filtro-busqueda-empleado.js"></script>
</body>

</html>